<fieldset data-hook="multibanco">
  <legend align="center"><%= Spree.t(:transaction, :scope => :multibanco) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <table>
        <th>
          <td><%= Spree.t(:entity, :scope => :multibanco) %></td>
          <td><%= Spree.t(:reference, :scope => :multibanco) %></td>
          <td><%= Spree.t(:amount, :scope => :multibanco) %></td>
        </th>
        <tr>
          <td><%= payment.multibanco_provider.entity %></td>
          <td><%= payment.multibanco_reference %></td>
          <td><%= payment.display_amount.to_html %></td>
        </tr>
      </table>
    </div>
  </div>
</fieldset>
